.Flex {
    display: flex;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.gap4 {
    gap: 4px;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap24 {
    gap: 16px;
}

.gap32 {
    gap: 32px;
}

@media (max-width: 1199px) {

    .gapTablet4 {
        gap: 4px;
    }

    .gapTablet8 {
        gap: 8px;
    }
    .gapTablet16 {
        gap: 16px;
    }

    .gapTablet24 {
        gap: 24px;
    }

    .gapTablet32 {
        gap: 32px;
    }

}

@media (max-width: 767px) {

    .gapMobile4 {
        gap: 4px;
    }

    .gapMobile8 {
        gap: 8px;
    }

    .gapMobile16 {
        gap: 16px;
    }

    .gapMobile24 {
        gap: 24px;
    }

    .gapMobile32 {
        gap: 32px;
    }

}

.max {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}
