.primary {
    color: var(--text-redesigned);

    &:hover {
        color: var(--accent-redesigned);
        transition: color 250ms;
    }
}

.red {
    color: var(--cancel-redesigned);

    &:hover {
        opacity: 0.8;
    }
}
