.app_candy_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;
    --primary-color: #9a1a0e;
    --secondary-color: #d01f0e;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;

    /* redesigned */
    --dark-bg-redesigned: #fdf2f8;
    --bg-redesigned: #fbcfe8;
    --light-bg-redesigned: #fce7f3;
    --text-redesigned: #1f2937;
    --hint-redesigned: #a8557f;
    --cancel-redesigned: #fb7185;
    --save-redesigned: #64d191;
    --icon-redesigned: #a78bfa;
    --accent-redesigned: #c026d3;

    /* skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(157 23 77 / 18%);

    /* code */
    --code-bg: #fff7fb;

    /* card */
    --card-bg: #fff7fb;

    /* listbox */
    --listbox-bg: #fff7fb;
}
