:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;

    /* redesigned */
    --dark-bg-redesigned: #fff;
    --bg-redesigned: #f8fafc;
    --light-bg-redesigned: #f1f5f9;
    --text-redesigned: #0f172a;
    --text-light-redesigned: #f8fafc;
    --hint-redesigned: #64748b;
    --cancel-redesigned: #ef4444;
    --save-redesigned: #22c55e;
    --icon-redesigned: #64748b;
    --accent-redesigned: #0ea5e9;

    /* skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(15 23 42 / 12%);

    /* card */
    --card-bg: #fff;

    /* listbox */
    --listbox-bg: #fff;
}
