.StarRating {
    .hovered {
        fill: var(--primary-color);
    }
}

.normal {
    fill: none;
}

.StarRatingRedesigned {
    display: flex;
    gap: var(--space-xs);
    .normal {
        fill: none;
    }

    .hovered {
        fill: var(--accent-redesigned);
    }
}

.starIcon {
    cursor: pointer;
}

.selected {
    cursor: auto;
}
