.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-m);
    padding: 8px 10px;
    border: 1.5px solid color-mix(in srgb, var(--icon-redesigned) 30%, transparent);
    width: 100%;
    transition: all 200ms;
}

.s {
    height: 32px;
}

.m {
    height: 38px;
}

.l {
    height: 44px;
}

.addonLeft, .addonRight {
    display: flex;
}

.withAddonLeft {
    padding-left: 4px;
}

.withAddonRight {
    padding-right: 4px;
}

.focused {
    border: 1.5px solid color-mix(in srgb, var(--accent-redesigned) 60%, transparent);

    .addonLeft svg, .addonRight svg {
        color: color-mix(in srgb, var(--accent-redesigned) 60%, transparent);
    }
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);
    background: none;

    &::placeholder {
        color: color-mix(in srgb, var(--text-redesigned) 50%, transparent);
        font: var(--font-s-redesigned);
    }
}


.readonly {
    opacity: 0.7;
}
