@use '@/app/styles/media' as media;

.BookDetailsContentRow {
    display: flex;
    gap: var(--space-s);
    width: 100%;
}

.distribution{
    min-width: 0;
}

@include media.respond-down(md) {
    .BookDetailsContentRow {
        flex-direction: column;
    }
}